# LaTeX build files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.gz
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.xdv
*.lof
*.lot
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.spl
*.aux
Shaokang_Jiang_Resume__old.pdf
resume-shaokangjiang.pdf
Shaokang_Jiang_Resume__old.pdf
Resume-TA.pdf